<footer class="border-top">
    <div class="f-info">
        <div class="f-info-links">
            &nbsp; &#169; WanderLust Pvt Ltd &nbsp;
            &#183;
           <a href="/listing/privacy">&nbsp;Privacy&nbsp;</a>
           &#183;
           <a href="/listing/terms">&nbsp;Terms and Condition&nbsp;</a>

        </div>
      <div class="f-info-right">
        <div class="f-social">
            <a href="https://www.facebook.com/piyush.jana.589"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/ig_piyush.jana/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/piyush-jana13/"><i class="fa-brands fa-linkedin"></i></a>
    
           </div>
      </div>
      
        
    </div>
</footer>