

*{
  font-family: "Plus Jakarta Sans", sans-serif ;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.container{
    flex:1;
}

.navbar{
    height:5rem;
    background-color: white !important;
}

.nav-link{
    background-color: white !important;
}

.fa-hotel{
    color: #fe424d;
    font-size: 2.5rem ;
}

.nav-link{
    color: #222222 !important;
}

footer{
    height: 5rem !important;
    background-color:#ebebeb;
    display: flex;
    align-items: center;

}

.f-info{
    display: flex;

}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;

}
.f-social a{
    text-decoration: none;
    color: #222222;
    font-size: 1.25rem;
    padding-right: 0.75rem;

}
.f-social a:hover{
    font-size: 1.35rem;

}

.f-info-right{
    margin-left: 60rem;
}

@media only screen and (max-width: 768px) {
    .f-info-links {
      font-size: x-small;
    }
    .f-social a{
        font-size: x-small; 
    }
    .f-social a:hover{
        font-size: small; 
    }


    .f-info-right{
        margin-left: 10rem;
    }

    .tax-toggle{
        display: none !important;
    }

    .listing-owner{
        display: none !important;
    }

    .oldImage{
        width: 300px !important;
        height: 300px !important;
    }

    
#map{ height: 200px !important;; width: 230px !important; 
    padding: auto; }

  }

  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .f-info-links a{
        display: none;
        font-size: small
      }
      .f-social a{
        text-decoration: none;
        color: #222222;
        font-size: 1.15rem;
        padding-right: 0.5rem;
    }  
    .f-info-right{
        margin-left: 38rem;
    }

    .tax-toggle{
        display: none !important;
    } 
    #map{ height: 300px !important;; width: 450px !important; 
        padding: auto; }

        .listing-owner{
            display: none !important;
        }
    } 

  @media only screen and (min-width: 1025px) {
    .f-info-links a{
        text-align: center;
      font-size: small;
    }
    .f-social a{
        text-decoration: none;
        color: #222222;
        font-size: 1.25rem;
        padding-right: 0.5rem;

    
    }
    .f-info-right{
        margin-left: 62rem;
    }
    
  }

  .card{
    border: none !important;
    margin-bottom: 1rem;
    padding: 1rem;
    display: inline-flex !important;

  }

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover  !important;
    height: 20rem !important;
}

.card-body{
    padding: 0% !important;
  
 }

.card-text p{
    font-weight: 400 !important;
    
}

.row a{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.show-img{
    height: 30rem;
}

.review-card{
    border: 1px solid #222222 ;
    border-radius: 1rem;
    padding: 0.5rem 0rem 0rem 1rem !important;

}

#map{ height:350px; width: 100vh;
padding: auto; }

.oldImage{
    width: 500px ;
    height: 300px;
}

/* index.ejs */
.filter {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}
.filters{
    margin-top: 2rem;
    margin-right: 2rem;
    opacity: 0.7;

}
.filters:hover{
    opacity: 1;
    cursor: pointer;
}

.filters a{
    color: inherit;
    text-decoration: none;
}

.tax-info{
    display: none;
}

.tax-toggle{
    border : 1px solid black;
    border-radius: 1rem;
    height: 4rem;
    padding: 1rem;
    margin-left: 8rem;
    display: flex;
    align-items: center;
}

.form-inline{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-items: center !important;
}

.form-inline button{
    margin: 1rem !important;
}

.btn-search{
    border: 1px solid black !important;
    border-radius: 10rem !important;
}
.btn-search i{
    display: inline;
    margin-right: 0.5rem;
}
.btn-search:hover{
    background-color: #fe424d !important;
    color: #ebebeb !important;
    border: 1px solid white !important;
}

.search-inp{
    border-radius: 10rem !important;
    padding: 0.5rem 6rem 0.5rem 1.5rem !important; 
}

.navbar-nav{
    background-color: white !important;
}